# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=ddu0tdvh
VITE_CLOUDINARY_API_KEY=514419284843772
VITE_CLOUDINARY_API_SECRET=your_api_secret_here
VITE_CLOUDINARY_UPLOAD_PRESET=alpha-studio
CLOUDINARY_URL=cloudinary://514419284843772:your_api_secret_here@ddu0tdvh
